<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
   
    <style>
        li {
            list-style: -moz-hangul;
            padding: 5px;
            color: darkslategray;

        }

        
        h1 {

            font-family: monospace;
            font-size: 15px;
        }
    </style>
</head>
<body>
{% if name %}
    <h1>Hello {{ name }}</h1><br>
{% else %}
    <h1>Hello World</h1><br>
{% endif %}


</body>
</html>